[mysqld]
# Options for mysqld process:
ndbcluster                      # run NDB storage engine
basedir=/usr/local/mysql/mysql-cluster
datadir=/usr/local/mysql/mysql-cluster/data
user=mysql


[mysql_cluster]
# Options for NDB Cluster processes:
ndb-connectstring=172.16.60.2:2202  # location of management server