# dependency
venv/
node_modules/
dist/
build/
debug/
release/
.cache/

# ide
.idea
.vscode
.ipynb_checkpoints

*/.git
*/*/.git

# no track
Python/Matplotlib【Python】/*.png
*.pyc

.DS_Store
.DS_Store?
*.tar.gz
