[mysqld]
# Options for mysqld process:
ndbcluster                      # run NDB storage engine
basedir=/usr/local/mysql/mysql-cluster
datadir=/usr/local/mysql/mysql-cluster/data
user=root
log-error=/usr/local/mysql/mysql-cluster/mysqld_error.log

[mysql_cluster]
# ip:port -> default prot 1186
ndb-connectstring=172.28.0.2